.education {
	padding-top: 80px;
	padding-bottom: 80px;

	& .section-title {
		margin-bottom: 40px;

		@include onTablet {
			margin-bottom: 50px;
		}
	}

	@include onDesktop {
		padding-top: 180px;
		padding-bottom: 180px;

		& .section-title {
			margin-bottom: 80px;
		}
	}

	@supports (padding-top: clamp(5rem, 3.2142857143rem + 8.9285714286vw, 11.25rem)) {
		.education {
			padding-top: clamp(5rem, 3.2142857143rem + 8.9285714286vw, 11.25rem);
		}
	}

	@supports not (padding-top: clamp(5rem, 3.2142857143rem + 8.9285714286vw, 11.25rem)) {
		.education {
			padding-top: calc(5rem + 6.25 * (100vw - 20rem) / 70);
		}
	}

	@supports (padding-bottom: clamp(5rem, 3.2142857143rem + 8.9285714286vw, 11.25rem)) {
		.education {
			padding-bottom: clamp(5rem, 3.2142857143rem + 8.9285714286vw, 11.25rem);
		}
	}

	@supports not (padding-bottom: clamp(5rem, 3.2142857143rem + 8.9285714286vw, 11.25rem)) {
		.education {
			padding-bottom: calc(5rem + 6.25 * (100vw - 20rem) / 70);
		}
	}

	@supports (margin-bottom: clamp(2.5rem, 1.7857142857rem + 3.5714285714vw, 5rem)) {
		.education .section-title {
			margin-bottom: clamp(2.5rem, 1.7857142857rem + 3.5714285714vw, 5rem);
		}
	}

	@supports not (margin-bottom: clamp(2.5rem, 1.7857142857rem + 3.5714285714vw, 5rem)) {
		.education .section-title {
			margin-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 70);
		}
	}
}
